.logLinks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 4vw;
    border: solid black 3px;
    border-radius: 25px;
    background: #9a8fa8;
}

.mushGL{
    border: solid black 2px;
    margin: 3vw 3vw 3vw 3vw;
    border-radius: 15px;
    background: #f5dc90;
}

h2{
    font-size: 5vw;
}