.logLinks{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 4vw;
    border: solid black 3px;
    border-radius: 25px;
    background: #9a8fa8;
}

.logLinks a{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border: solid black 3px;
    border-radius: 25px;
    background: #f5dc90;
}

a h2{
    border-right: solid black 3px;
    margin: 3vw;
    padding-right: 3vw;
}