body{
    display: flex;
    flex-direction: column;
    background-image: url(/mushroomgrow/images/backimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center calc(0% + (var(--scroll, 0) / 4));
    background-attachment: scroll;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock{
    width: 75vw;
    background: linear-gradient(to bottom, #4caf50 0%, #87ceeb 40%, #556b2f 70%, #a0522d 100%);
    border: solid #b39ddb 5px;
    border-radius: 53%;
    margin: 20px;
}

.textBlock{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoImg{
    width: 75vw;
    height: auto;
}

.indexImage{
    width: 100%;
    height: auto;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 5vw;
    margin: 3px;
}

.infoBlockLeft{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.infoBlockRight{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.indexBlock{
    border: solid black 5px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    
}

a{
    display: block;
}

#infoBlock{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
}