body{
    background: #4a3f5c;
}

h1{
    font-size: 8vw;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock{
    padding: 10px;
    background: linear-gradient(to bottom, #ede7f6, #d1c4e9);
    border: solid #b39ddb 5px;
    border-radius: 50px;
    margin: 20px;
}

.textBlock{
    text-decoration: none;
    flex: 1;
    border: solid black 2px;
    border-radius: 20px;
}

.shroomImage{
    width: 25vw;
    height: auto;
}

h3{
    text-decoration: none;
}

.mushBlock{
    border: dashed #4a3728 2px;
    display: flex;
    align-items: center;
    margin: 30px;
    padding: 5px;
    border-radius: 10px 20px 10px 20px;
    box-shadow: 4px 5px gray;
}

.mushroomMeet{
    border: solid black 4px;
    margin: 15px;
    border-radius: 10px;
    background-color: #f6f1e9;
}

#lionsBlock{
    transform: rotate(3deg);
}

#shiiBlock{
    transform: rotate(-3deg);
}