body{
    display: flex;
    flex-direction: column;
    background: #4a3f5c;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock{
    width: 75vw;
    background: linear-gradient(to bottom, #4caf50 0%, #87ceeb 40%, #556b2f 70%, #a0522d 100%);
    border: solid #b39ddb 5px;
    border-radius: 53%;
    margin: 20px;
}

.textBlock{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid black 5px;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoImg{
    width: 75vw;
    height: auto;
}

.shroomImage{
    width: 25vw;
    height: auto;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 5vw;
    margin: 3px;
}

.mushBlock{
    display: flex;
    align-items: center;
    margin: 8vw;
    height: auto;
    padding: 15px;
    border-radius: 25px;
    border: solid rgba(0, 0, 0, 0.7) 2px;
}

.indexBlock{
    border: solid black 5px;
    margin: 15px;
    border-radius: 10px;
    background-color: #9a8fa8;
    
}

#shiiBlock{
    box-shadow: -6px 6px 12px #5e5669;
    transform: rotate(-3deg);
    transition: transform 0.3s ease;
    background: linear-gradient(to bottom, #a07a5a 0%, #f3eadf 100%);
}

#lionsBlock{
    transform: rotate(3deg);
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 12px #5e5669;
    background: linear-gradient(to bottom, #f9f9f7 0%, #f3eee5 100%);
}

#blueBlock{
    transform:rotate(-3deg);
    transition: transform 0.3s ease;
    box-shadow: -6px 6px 12px #5e5669;
    background: linear-gradient(to top, #c7d7e8, #8fa9c7);

}

#lionsBlock:hover, #shiiBlock:hover, #blueBlock:hover{
    transform: rotate(0deg);
}
