body{
    display: flex;
    flex-direction: column;
    background: #4a3f5c;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock{
    width: 75vw;
    background: linear-gradient(to bottom, #4caf50 0%, #87ceeb 40%, #556b2f 70%, #a0522d 100%);
    border: solid #b39ddb 5px;
    border-radius: 53%;
    margin: 20px;
}

.textBlock{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #4c662f;
}

.logoImg{
    width: 75vw;
    height: auto;
}

.indexImage{
    width: 100%;
    height: auto;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 5vw;
    margin: 3px;
}

.infoBlock{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.indexBlock{
    border: solid black 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #9a8fa8;
    
}

a{
    display: block;
}



.testBlock{
    width: 100%;
}

.testInfo{
    display: flex;
    align-items: center;
    padding: 20px;
}

.testText{
    display: flex;
    flex-direction: column;
    margin: 10px 40px -10px -30px;
    padding: 10px;
    flex: 1;
    background: white;


}