body{
    background: #4a3f5c;
}

h1{
    font-size: 8vw;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock{
    padding: 10px;
    background: linear-gradient(to bottom, #ede7f6, #d1c4e9);
    border: solid #b39ddb 5px;
    border-radius: 50px;
    margin: 20px;
}

.textBlock{
    text-decoration: none;
    flex: 1;
    border: solid black 5px;
    border-radius: 20px;
}

.shroomImage{
    width: 25vw;
    height: auto;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 4vw;
}

.mushBlock{
    display: flex;
    align-items: center;
    margin: 8vw;
    padding: 15px;
    border-radius: 10px 20px 10px 20px;
}

.mushroomMeet{
    border: solid black 5px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgba(246, 241, 233, 0.6);
    
}

#shiiBlock{
    transform: rotate(-3deg);
    box-shadow: -6px 6px 12px gray;
    background: linear-gradient(to bottom, #a07a5a 0%, #f3eadf 100%);
}

#lionsBlock{
    transform: rotate(3deg);
    box-shadow: 6px 6px 12px gray;
    background: linear-gradient(to bottom, #f9f9f7 0%, #f3eee5 100%);
}