.headerFile{
    height: 50px;
    width: 100%;
    border-bottom: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.mushroomHeader{
    width: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-bottom: solid black 1px;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.mushroomName{
    font-size: 15vw;
    font-weight: bold;
    margin: 0 10px 0 10px;
    text-shadow: 3px 3px 5px gray;
}

.latinName{
    font-size: 5vw;
    font-style: italic;
    font-weight: bolder;
    margin: 0 10px 0 10px;
}

.infoCat{
    margin: 0 10px 0 10px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 5vw;
}
.mushroomInfo{
    padding: 5px;
    border-bottom: solid black 3px;
}

th{
    border: solid black 3px;
    background: #e9e9e9;
    font-size: 2.5vw;
}

table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd){
    background-color: #f6f0ff;
}

tbody tr:nth-child(even){
    background-color: #e9e9e9;
}

td{
    border: solid black 1px;
}

p{
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 3vw;
}

h3{
    font-size: 5vw;
    margin: 5px 0 0 0;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}