.headerFile{
    height: 50px;
    width: 100%;
    border-bottom: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mushroomHeader{
    width: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0 10px 0 10px;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.mushroomName{
    font-size: 20vw;
    font-weight: bold;
    margin: 0;
}

.latinName{
    font-size: 5vw;
    font-style: italic;
    margin: 0;
}

.infoCat{
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

ul, p{
    margin: 0 10px 0 10px;
}


