.headerFile{
    height: 50px;
    width: 100%;
    border-bottom: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mushroomHeader{
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.mushroomName{
    font-size: 20vw;
    font-weight: bold;
    margin: 0;
}

.latinName{
    font-size: 5vw;
    font-style: italic;
    margin: 0;
}


