header{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-bottom: solid black 5px;
    color: rgba(246, 241, 233, 75%);
    background: linear-gradient(to top, black 3%, rgba(36, 41, 36, 1) 10%, #342f3d);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a{
    font-size: 3vw;
    display: inline-block;
    text-align: center;
    color: #f6f1e9;
    padding: 2vw;
    border-radius: 20px;
    margin: 4vw 0 4vw 0;
    box-shadow: 0 0px 5px 4px transparent;
}

header a:hover{
    filter: invert(1);
}

header a span{
    display: block;
    margin: 0 0 0 0;

}

header h1{
    text-decoration: underline;
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #4a3f5c;
    font-weight: bold;
}

.mushroomName{
    font-size: 15vw;
    font-weight: bold;
    margin: 0 10px 0 10px;
    text-shadow: 3px 3px 5px gray;
}

.latinName{
    font-size: 5vw;
    font-style: italic;
    font-weight: bolder;
    margin: 0 10px 0 10px;
}

.infoCat{
    margin: 0 10px 0 10px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 5vw;
}
.mushroomInfo{
    padding: 5px;
    border-bottom: solid black 5px;
}

th{
    border: solid black 3px;
    background: #e9e9e9;
    font-size: 2.5vw;
}

table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd){
    background-color: #f6f0ff;
}

tbody tr:nth-child(even){
    background-color: #e9e9e9;
}

td{
    border: solid black 1px;
    font-size: 3vw;
}

.infoCat{
    font-size: 5vw;
    margin: 5px 0 0 0;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
}

p{
    margin: 5px;
    font-size: 3vw;
}

.secHeader{
    text-decoration: underline;
    font-size: 8vw;
}