.headerFile{
    height: 50px;
    width: 100%;
    border-bottom: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mushroomHeader{
    width: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-bottom: solid black 1px;
    background: linear-gradient(to bottom, #8C6A55, #C4A77D);
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.mushroomName{
    font-size: 15vw;
    font-weight: bold;
    margin: 0 10px 0 10px;
    text-shadow: 3px 3px 5px gray;
}

.latinName{
    font-size: 5vw;
    font-style: italic;
    font-weight: bolder;
    margin: 0 10px 0 10px;
}

.infoCat{
    margin: 0 10px 0 10px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 5vw;
}
.mushroomInfo{
    background: linear-gradient(to bottom, #C4A77D, #E7D7C1, #C4A77D, #8C6A55);
    padding: 5px;
}

li{
    margin: 0px 10px 0 10px;
    font-size: 2.5vw;
}

th{
    border: solid black 3px;
}

table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

td{
    border: solid black 1px;
}

p{
    margin: 
}